---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TagCloud from "../../components/TagCloud.astro";
const pageTitle = "Tag Index";

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout pageTitle={pageTitle}>
  <!-- TODO: pass styles as props and remove this container div -->
  <div style="margin-top: 2rem;">
    <TagCloud tags={tags} />
  </div>
</BaseLayout>
