---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About — Astro Blog</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </header>
    <h1>About this site</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis ab
      unde, quo est sapiente error? Vel laborum suscipit mollitia sequi aliquid
      debitis fugiat rerum! Minus praesentium delectus blanditiis magni? Animi.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
      magnam ut sed officiis explicabo quae deserunt fuga non culpa, provident
      qui, nulla assumenda sint inventore impedit ad. Ad, iste minus.
    </p>
  </body>
</html>
