---
const pageTitle = "About Me";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} — Astro Blog</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </header>
    <h1>{pageTitle}</h1>
    <a href="/posts/post-1">Post 1</a>
    <a href="/posts/post-2">Post 2</a>
    <a href="/posts/post-3">Post 3</a>
  </body>
</html>
