---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const siteName = "Astro Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteName}</title>
  </head>
  <body>
    <header>
      <Navigation />
    </header>
    <h1>Astro Blog</h1>
  </body>
</html>
