---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Astro Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
    repellendus ab voluptates necessitatibus tempora expedita cupiditate
    asperiores quo soluta, sequi at eos neque rem eum velit sit nesciunt
    aspernatur eligendi.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
    repellendus ab voluptates necessitatibus tempora expedita cupiditate
    asperiores quo soluta, sequi at eos neque rem eum velit sit nesciunt
    aspernatur eligendi.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit
    repellendus ab voluptates necessitatibus tempora expedita cupiditate
    asperiores quo soluta, sequi at eos neque rem eum velit sit nesciunt
    aspernatur eligendi.
  </p>
</BaseLayout>
