---
const { frontmatter } = Astro.props;
---

<h1>{frontmatter.title}</h1>
<p>
  Written by {frontmatter.author}
  <br />
  Published on: {frontmatter.pubDate.slice(0, 10)}
</p>
<p><em>{frontmatter.description}</em></p>
<hr />
<slot />
